extends layout

block content
  h1= title
  p Welcome to #{title}

  

  <a class="button" href="#">Default Button</a>


  <button class="button button-outline">Outlined Button</button>


  <input class="button button-clear" type="submit" value="Clear Button">